<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Gatos en adopción</title>
</head>
<body>
    <header>
        <h1>Donde estamos</h1>
    <nav>
        <ul>
            <li><a href="index.html">Página principal</a></li>
            <li><a href="tabla.html">Nuestros gatos</a></li>
            <li><a href="donde.html">Donde estamos</a></li>
            <li><a href="formulario.html">Formulario</a></li>
        </ul>
    </nav>
    </header>
    <section>
    <h3>Ubicación</h3>
        <p>
            Universidad Pontificia Comillas
            <br>
            Escuela Técnica Superior de Ingeniería (ICAI)
            <br>
            C. de Alberto Aguilera, 25, Centro
            <br>
            28015 Madrid
        </p>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.043120802949!2d-3.71490468429349!3d40.430044062753005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228662ebd8eeb%3A0xd7c09eaa5e0b0c59!2sEscuela%20T%C3%A9cnica%20Superior%20de%20Ingenier%C3%ADa%20(ICAI)!5e0!3m2!1ses!2ses!4v1673823476079!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>
    <footer>
        <p>&copy; 2025 Gatos en adopción</p>
    </footer>
</body>
</html>